.icons {
display: flex;
width: 100%;
justify-content: space-between;
}

.icon-cover img {
    width: 25px;
}


.icon-cover {
    border: 1px solid #D1D5DB;
box-sizing: border-box;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
width: 30%;
display: flex;
align-items: center;
justify-content: center;
padding: 10px 0;
cursor: pointer;
}