@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}
.text_div {
    width: 50%;
    height: 100%;
    padding: 80px 120px;
    background: #F9FAFB;
}

.text_div {
    color: #EF582F;
}

.text_div h1 {
    margin-bottom: 10px;
    font-family: 'Reggae One', cursive;
}

.subText {
    font-family: 'DM Sans', sans-serif;
    color: #6B7280;
    
}

.image_div {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image_div img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:800px) {
    .wrapper {
        flex-direction: column;
    }
    .image_div {
        display: none;
    }
    .text_div {
        width: 100%;
        padding: 25px 25px 10px 25px;
    }
}