@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.input:focus {
  border: 1px solid #E8E8E8;
  color: #1e223e;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  color: #ADADAD;
}

input {
  padding: 15px 0 15px 15px;
  border: 1px solid #E8E8E8;
  background: #FFFFFF;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
}

.error {
  border: 1px solid rgba(255, 89, 94, 1);
}

.error::placeholder {
  color: rgba(255, 89, 94, 1);
}

.label {
  margin-bottom: 0.5em;
  display: block;
  font-weight: 400;
}

.small {
  display: block;
  margin-top: 2px;
  color: rgba(255, 89, 94, 1);
  font-size: 14px;
}

.group {
  position: relative;
}

.adorn {
  position: absolute;
  top: 26%;
  right: 6%;
}

.adorn:hover {
  cursor: pointer;
  opacity: 0.8;
}
