.content {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/henrybee558/image/upload/v1655729324/adspace_vf0uic.png");
    height:30vh;
    background-repeat: no-repeat;
}